<!-- 

webcam_local.launch

This launch file launches the webcam publisher on this laptop.

This script also launches the webcam subscriber on this laptop.

...make sure the webcam is plugged into this computer.
...make sure that this laptops .bashrc file has set ROS_MASTER_URI to this laptop's ip address.

-->


<launch>


  <!-- create a parameterh) -->
  <param name="/webcam_subscriber/image_transport" type="string" value="compressed" />
  

  <!-- start the webcam video stream publisher node -->
  <node pkg="webcam" name="webcam_publisher" type="webcam_publisher" args="1"/> 


  <!-- start the webcam video stream subscriber node -->
  <node pkg="webcam" name="webcam_subscriber" type="webcam_subscriber" />


</launch>
