<!-- https://github.com/pandora-auth-ros-pkg/pandora_docs/wiki/Remote-Machines-Running-ROS-nodes -->


<!-- Example: 

<launch>
  <machine
    name="<remote-machine-name>"
    address="155.207.33.186"
    user="<remote-machine-user>"
    password="<ssh-password to the remote machine>"
    timeout="<timeout-value for the ssh-connection>"
    env-loader="/home/<remote-machine-user>/catkin_ws/devel/remote_env_loader.sh"
  />
  
  <node
    machine="<remote-machine-name>"
    name="flir_lepton_hardware_interface"
    pkg="flir_lepton_hardware_interface"
    type="flir_lepton_hardware_interface_node"
  />
</launch>

-->

<launch>


  <!-- create a parameterh) -->
  <param name="/webcam_subscriber/image_transport" type="string" value="compressed" />
  

  <!-- start the webcam video stream publisher node -->
  <node pkg="webcam" name="webcam_publisher" type="webcam_publisher" args="1"/> 


  <!-- start the webcam video stream subscriber node -->
  <node pkg="webcam" name="webcam_subscriber" type="webcam_subscriber" />


</launch>
